
/*  Toggleable menu  */
	.top-table {
		border-bottom:1px solid $color-magenta;
		font-family: Arial Narrow, sans-serif;
		button {
			&:hover {
				border-color:$color-magenta;
			}
		}
		td a {
			font-size: 95%;
			color:$color-black;
			&:hover {
				color:$color-magenta;
			}
		}
	}



/* Shortcuts  */
		.shortcuts {
			background-color:$color-magenta;
			height:500px;
			h1, table, a {
				color:$color-primary;
				font-family: Arial Narrow, sans-serif;
			}
			.centerTable {
				margin-left:50%;
				margin-right: auto;
			}
			h1 {
				text-align:center;
			}
			th {
				font-size: 120%;
				padding-bottom: 20px;
			}
			td {
				font-size: 95%;
				padding-top: 20px;
				padding-right: 190px;
			}
		}
